<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head"></head>
<body>
	<header th:replace="layout/header :: header"></header>
	<br><br><br><br><br>

	<div class="article-list">
		<div class="container">
			<!-- Start: Intro -->
			<div class="intro">
				<h2 class="text-info text-center">Tipo de Habitaciones</h2>
				<p class="text-center">Nuestra hostal cuenta con 15 cómodas habitaciones, las que estásn divididas en tres tipos:</p>
			</div>
			<!-- End: Intro -->
			<!-- Start: Articles -->
			<div class="row articles">
				<div class="col-sm-6 col-md-4 item">
					<a href=""><img class="img-fluid" th:src="@{/img/simple.jpg}"
						src=".../static/img/simple.jpg"></a>
					<h3 class="name">Habitación Simple</h3>
					<p class="description">Habitación para una persona, con cama individual y baño privado.</p>
					<a href="" class="action"><i class="fa fa-arrow-circle-right"></i></a>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<a href=""><img class="img-fluid" th:src="@{/img/doble.jpg}"
						src=".../static/img/doble.jpg"></a>
					<h3 class="name">Habitación Doble</h3>
					<p class="description">Habitación para dos personas, con dos camas individuales y baño privado.</p>
					<a href="" class="action"><i class="fa fa-arrow-circle-right"></i></a>
				</div>
				<div class="col-sm-6 col-md-4 item">
					<a href=""><img class="img-fluid"
						th:src="@{/img/matrimonial.jpg}"
						src=".../static/img/matrimonial.jpg"></a>
					<h3 class="name">Habitación Matrimonial</h3>
					<p class="description">Habitación para dos personas, con cama matrimonial y baño privado.</p>
					<a href="" class="action"><i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<!-- End: Articles -->
		</div>

		<section class="clean-block features">
			<div class="container">
				<div class="block-heading">
					<h2 class="text-info text-center">Servicios</h2>
					<p class="text-center">Dentro de los servicios incluidos encontramos:</p>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-5 feature-box">
					<h4>Desayuno <i class="iconify" data-icon="whh:foodtray" data-inline="false"></i></h4>
						<p>Desayuno con productos
						caseros como la mermelada, queques y kuchen.</p>
					</div>
					<div class="col-md-5 feature-box">
					<h4>Baño privado <i id="icon" class="iconify" data-icon="whh:bathtub" data-inline="false"></i></h4>
						<p>Cada habitación cuenta con su baño privado.</p>
					</div>
					<div class="col-md-5 feature-box">
					<h4>Internet WIFI <i id="icon" class="iconify" data-icon="ant-design:wifi-outline" data-inline="false"></i></h4>
						<p>Hay conexión a internet Wi-Fi disponible en todo el establecimiento.</p>
					</div>
					<div class="col-md-5 feature-box">
					<h4>TV Cable <i class="iconify" data-icon="fa-solid:tv" data-inline="false"></i></h4>
						<p>Podrá disfrutar cómodamente de disversos canales.</p>
					</div>
					<div class="col-md-5 feature-box">
					<h4>Estacionamiento Noche <i id="icon" class="iconify" data-icon="ic:outline-directions-car" data-inline="false"></i></h4>
						<p>Tenemos a tu disposición 20 estacionamientos al interior del recinto.</p>
					</div>
					<div class="col-md-5 feature-box">
					<h4>Lavanderia <i id="icon" class="iconify" data-icon="zmdi:washing-machine" data-inline="false"></i></h4>
						<p>Cuenta con Lavandería de autoservicio.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>