<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: head"></head>
<body>
	<header th:replace="layout/header :: header"></header>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div sec:authorize="hasRole('ROLE_USER')" class="container">
		<br>
		<div>
			<a href="/verReservas" class="btn btn-primary">Listar Reservas</a>
		</div>
		
		<br>
		<div class="alert alert-danger text-center" th:if="${error != null}" th:text="${error}" role="alert"></div>
		
		<form action="#" th:action="@{/reserva}" th:object="${reservas}"
			method="post">
			<div class="form-group">
				<label for="tipo">Habitacion:</label> <br> <select
					class="form-control" th:name="HabitacionId">
					<option th:each="habitaciones : ${habitacion}"
						th:value="${habitaciones.idHabitacion}"
						th:text="${habitaciones.tipo}"></option>
				</select> <label for="tipo">Huesped:</label> <br> <select id="buscador"
					class="form-control" th:name="HuespedId">
					<option th:each="huesp : ${huespedes}"
						th:value="${huesp.idHuesped}" th:text="${huesp.run}"></option>
				</select> <label for="tipo">Tipo de Pago:</label> <br> <select
					class="form-control" th:name="tipoPagoId">
					<option th:each="pago : ${tipoP}" th:value="${pago.idTipoPago}"
						th:text="${pago.tipo}"></option>
				</select> <input type="hidden" th:field="*{idReserva}" name="id" id="id">

				<div class="form-group">
					<label for="nombre">Fecha Entrada</label> <input type="text"
						class="form-control" id="fechaEntrada" th:field="*{fechaEntrada}"
						name="tipo" autocomplete="off">
				</div>
				<div class="form-group">
					<label for="nombre">Fecha Salida</label> <input type="text"
						class="form-control" id="fechaSalida" th:field="*{fechaSalida}"
						name="tipo" autocomplete="off">
				</div>

				<br>
				<button type="submit" class="btn btn-success">Guardar</button>
				<a href="/verReservas" class="btn btn-primary">Cancelar</a>
			</div>
		</form>

	</div>
	<br>
	<br>
	<br>

	<footer th:replace="layout/footer :: footer"></footer>
	<script>
	$(document).ready(function() {
	    $('#buscador').select2();
	});
	</script>
	<script th:src="@{/js/datepicker.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/js/select2.js}"></script>
</body>
</html>

